version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: prod_atravel_app
    tty: true
    stdin_open: true
    volumes:
      - .:/app
    ports:
      - "7000:8000"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: atsportugal_prod_db
      DB_USERNAME: root
      DB_PASSWORD: 
      
      MAIL_DRIVER: smtp
      MAIL_HOST: mail.atravelbookings.com
      MAIL_PORT: 465
      MAIL_USERNAME: noreply@atravelbookings.com
      MAIL_PASSWORD: 
      MAIL_ENCRYPTION: ssl
      
      PUSHER_APP_ID: 856252
      PUSHER_APP_KEY: 37abc5efe9e26526a020
      PUSHER_APP_SECRET: 
      PUSHER_CHANNEL: ats-production
      PUSHER_DEBUG: true

      API_TRANSFERGEST_HOST: https://transfers.atsportugal.com/
      API_TRANSFERGEST_USER: api@atravel.com
      API_TRANSFERGEST_PASSWORD: 
      API_TRANSFERGEST_KEY: 
      API_TRANSFERGEST_CLIENTE_ID: 
    depends_on:
      - mysql
      - redis
    command: "./scripts/init.sh"

  mysql:
    image: mysql:5.7
    container_name: prod_atravel_mysql
    restart: always
    ports:
      - "2306:3306"
    environment:
      MYSQL_DATABASE: atsportugal_prod_db

  redis:
    image: redis:alpine
    container_name: prod_atravel_redis
    restart: always
    ports:
      - "5382:6382"
